<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Кофе</title>
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>Информация о кофе</h1>
        {% load static %}
        <img src ="{% static 'coffee/кофее.jpeg'%}" width="320" height="200"  alt = "tea"><br>

    </header>

    <section>
        {% block body %}

        {% endblock %}
    </section>
    <footer>
        <br>
        <input type="button" value="На главную" onClick='location.href="{% url "main" %}"'>
    </footer>
</body>

</html>